<div class="container">
    <app-top-navbar></app-top-navbar>
    <p class="font-color">Hello World!!!</p>
    <cite>
        <code>try use angular-ui-bootstrap and aviod use jquery</code>
    </cite>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <img src="./imgs/flags.jpg" class="img-responsive margin-center" alt="flags0" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="./imgs/flags.jpg" class="img-responsive margin-center" alt="flags1" />
        </div>
    </div>
</div>

<div class="container">
    <h2>Guess Chrarctor <small>This is the Unit Test Sample</small></h2>
    <p>
        {{testingword | mask: selection}}
    </p>
    <letter-selection-buttons (letterEmit)="UpdateSelection($event)">
    </letter-selection-buttons>
</div>

<router-outlet></router-outlet>
